body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
.hello{
    color: #042F59;
    font-size: 60px;
    font-weight: 400;
}
.johir{
    color: salmon;
    font-size: 60px;
    font-weight: 400;
}
.half_width{
    width: 40%; 
    float: left;  
    margin-left: 5%;
    padding-left: 5%;

    /* width: 40%; */

}
.link_button{
    background-image:linear-gradient(180deg,salmon,tomato);
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
}
li a{
    display: block;
    float: right;
    
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    color: #686868;
    margin-top: 2%;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 8%;
    

}
.upper_section{
    background-color: #686868;
    height: 70px;
    width: 1358px;
    padding: 0; 
    margin: 0;
}
img{
    width: 80%;
   
}
.about{
    font-size: 45px;
    color: salmon;
    font-weight: 300;

}
.about1{
    font-size: 45px;
    color: #042F59;
    font-weight: 300;

}
.about2{
    color: #042F59;
    font-weight: 300;

}
p{
    color: gray ;
    padding-bottom: 25px;
    padding-top: 0;
}
h1 {
    padding-top: 150px;
}
.final_text{
    text-align: center;
}
.image_area{
    box-shadow: 10px 10px 40px gainsboro;
    /* border-radius:5px; */
    background-color: white;;
    width: 22%;
    border-radius: 5%;
    
}
.bottom_box{
    box-
}