body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
.hello{
    color: #042F59;
    font-size: 60px;
    font-weight: 400;
}
.johir{
    color: salmon;
    font-size: 60px;
    font-weight: 400;
}
.half_width{
    width: 40%; 
    float: left;  
    margin-left: 5%;
    padding-left: 5%;

    /* width: 40%; */

}
.link_button{
    background-image:linear-gradient(180deg,salmon,tomato);
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
}
li a{
    display: block;
    float: right;
    
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    color: #686868;
    margin-top: 2%;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 8%;
    

}
.upper_section{
    background-color: #686868;
    height: 70px;
    width: 100%;

}
img{
    width: 80%;
   
}
.about{
    font-size: 45px;
    color: salmon;
    font-weight: 300;

}
.about1{
    font-size: 45px;
    color: #042F59;
    font-weight: 300;

}
.about2{
    color: #042F59;
    font-weight: 300;

}
p{
    color: gray ;
    padding-bottom: 25px;
    padding-top: 0;
}
h1 {
    padding-top: 150px;
}
.final_text{
    text-align: center;
}
.image_area{
    box-shadow: 10px 10px 40px gainsboro;
    /* border-radius:5px; */
    background-color: white;;
    width: 22%;
    border-radius: 5%;
    
}
.bottom_box{
    background-image: url(shapes/Group_33094_1.png);
    height: 100%; 
    width: 100%;
    background-position:center;
    margin-top: 400px;
    background-repeat: no-repeat;  
    background-size: 1000px;
}
.box_word{
    text-align: left;
    padding-bottom: 10%;
    margin-left: 15%;
    font-size: 60px;
    font-weight: 300;
    color: white;
    
}
.chat_button{
    float: right;
    margin-right: 20%;
    border-radius: 5px;
    margin-top:-250px
    
}
.footer{
    color: gray;
    text-align: center;
    font-weight: 3;
}
.mail{
    
    font-size: 30px ;
    color: #042F59;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}
.logo{
    
    width: 4%;
    display: flex;
    gap: 16px;
    margin: auto;
    padding: 2%;
    
}
.extra_lower_section{
    background-color: #042F59; ;
    height: 200px;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    color: whitesmoke;
    font-weight: 500;

}
.lower_quotoes{
    text-align: right;
    
}